.footer-nav {
    display: flex;

    margin-top: 123px;
}

.nav-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
    margin-bottom: 21px;
}

.column_left {
    margin-right: 98px;
}

.column_right {
    margin-left: auto;
    text-align: right;
}

.column-contacts ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.column li {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.column-menu {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 52px;
    max-width: 346px;
}

.footer-info {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 19px;
    text-align: right;
    margin-top: 32px;
}

.politics {
    text-decoration-line: underline;
}

.footer .nav-item+.nav-item {
    margin-top: 10px;
}

.footer .nav-item_horizontal+.nav-item_horizontal {
    margin-left: 14px;
    margin-top: 0;
}